.blue-bg {
    background: $blue !important;
}

.testimonial-bg {
    background-image: linear-gradient(to left, rgba(233, 189, 67, 0.71), #01345b8c), url(../images/˘text.jpg);
    background-size: cover;
    background-position: center center;
}

.main-heading {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc(25px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    text-transform: uppercase;
    color: #FFFFFF;
}

.sub-heading {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc(22px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.6 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    line-height: 40px;
    color: $orange;
}

.heading-light {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

}

.sub-para {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.bt-bub {
    top: 32px;
    right: -35px;
}

